:root {
  --accent: #38bdf8;
  --bg-dark: #020617;
  --bg-card: #020617;
}

body {
  font-family: 'Inter', sans-serif;
}

/* HERO */
.hero {
  height: 100vh;
  background: radial-gradient(circle at top, #166df056, #000);
  position: relative;
  overflow: hidden;
}

.hero-title {
  font-family: "Press Start 2P", monospace;
  font-size: 3rem;
  position: relative;
  animation: glitch 2.5s infinite;
}

@keyframes glitch {
  0% { text-shadow: 3px 4px #940000; }
  20% { text-shadow: -4px -4px #1027f2; }
  40% { text-shadow: 4px -4px #b00df0; }
  60% { text-shadow: -2px 2px #008834; }
  100% { text-shadow: 2px 2px #0dcaf0; }
}

.hero-subtitle {
  font-size: 1.2rem;
  color: #004ccf;
}
/* SEÇÕES */
.section-title {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--accent);
  margin-bottom: 1rem;
}

.section-text {
  max-width: 600px;
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


/* SKILLS */
.skill {
  background: #111;
  border: 1px solid #0dcaf0;
  color: #0dcaf0;
  padding: 8px 12px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.skill:hover {
  background: #0dcaf0;
  color: #000;
  box-shadow: 0 0 15px #0dcaf0;
  transform: translateY(-3px);
}
/* PROJETOS */
.project-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 16px;
  transition: all 0.4s ease;
}

.project-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 0 30px rgba(13,202,240,0.2);
}

/* FOOTER */
.footer {
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #0dcaf0, transparent);
  animation: scan 3s infinite;
}

@keyframes scan {
  to {
    left: 0%;
  }
}
